.logo {
  font-family: 'PapaKilo';
  font-weight: bold;
  font-size: 2rem;
  color: #ca8a04;
}

.link {
  color: #ca8a04;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'PapaKilo';
}